/* FONT ROBOTO */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&amp;display=swap");
* {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* LINKS */

a,
a:active,
a:hover {
    color: unset;
}

a:hover {
    text-decoration: none;
}


/* CORES */

body {
    color: #050000;
}

.dourado {
    color: #cba731;
}

.vermelho {
    color: #871108;
}


/* FONTE PADRÃO SITE */

.roboto-family {
    font-family: "Roboto";
}


/* BACKGROUNDS COM IMAGENS */

.background {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    padding: 5rem 0;
}

.beneficios {
    background: url("https://goldclubgroup-images.s3.us-east-1.amazonaws.com/websites/bodygold/img/fundo_3-10secao_DESKTOP.webp");
}

.resultados {
    background: url("https://goldclubgroup-images.s3.us-east-1.amazonaws.com/websites/bodygold/img/fundo_5-7-9-11secao_DESKTOP.webp");
}


/* BACKGROUND CORES */

.header {
    background-color: black;
    padding: 0.4rem 0;
}

.background-vermelho {
    background-color: #890100;
}

.background-dourado {
    background-color: #cba731;
}

.background-cinza {
    background-color: #F5F5F5;
}


/* TAMANHO FONTES */

.fonte-botao {
    text-shadow: 0px 3px 6px #00000040;
    color: white;
    background-color: #66cd74;
    border-radius: 4px;
    box-shadow: 0px 3px 6px #888888;
    border: none;
    font-size: 24px;
}

.disponiveis-titulo {
    margin-bottom: 0;
}

.titulo-secoes {
    font-size: 28px;
}

.subtitulo-secoes {
    font-size: 15px;
}

.textos-beneficios {
    color: #871108;
    font-size: 15px;
}

.textos-rodape {
    color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5em;
}

.titulos-rodape {
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.contato {
    font-size: 16px;
    color: white;
}

.copyright {
    color: white;
    font-size: 12px;
}


/* BORDA CUSTOMIZADA */

.borda-branca {
    border-right: 4px solid white !important;
}


/* KITS */

.kits h2 {
    color: #000000;
    font-size: clamp(20px, 3vw, 36px);
    line-height: clamp(20px, 3vw, 36px);
    font-weight: bold;
    text-transform: uppercase;
}

.kits h2 span {
    color: #890100;
}

.title-kits:before {
    content: "";
    position: absolute;
    top: 56px;
    left: 50%;
    width: 30%;
    height: 4px;
    background: #890100;
    transform: translateX(-50%);
}

.kits h4 {
    margin: auto auto;
    font-size: clamp(20px, 3vw, 22px);
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
}

.bg-roxo {
    background-color: #871108;
}

.bg-cinza {
    background-color: #e8e8e8;
}

.percentual-desconto {
    font-size: clamp(16px, 3vw, 20px);
    line-height: 100%;
    color: #ffffff;
    font-weight: bolder;
    margin-bottom: 3px;
    margin-top: 6px;
}

.percentual-desconto-maior-desconto {
    font-size: clamp(16px, 3vw, 20px);
    line-height: 100%;
    color: #871108;
    font-weight: bolder;
    margin-bottom: 3px;
    margin-top: 6px;
}

.off {
    line-height: 100%;
    color: #ffffff;
    margin: 0;
}

.off-maior-desconto {
    line-height: 100%;
    color: #871108;
    margin: 0;
}

.maior-desconto {
    color: #ffffff;
}

.o-mais-vendido {
    color: #871108;
}

.experimente {
    color: #000000cc;
}

.card {
    border: none;
}

.card-cor-fundo-kits {
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border: unset;
}

.titulo-kits {
    color: #871108;
    font-size: clamp(18px, 3vw, 18px);
    line-height: clamp(18px, 3vw, 18px);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
}

.informacoes {
    line-height: 18px;
    margin-bottom: 10px;
}

.de-por {
    font-size: 14px;
    line-height: 14px;
    text-decoration: line-through;
    color: red;
    text-transform: uppercase;
}

.por {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.por span {
    font-weight: bold;
}

.por-apenas-kits {
    font-size: 16px;
    line-height: clamp(31px, 4vw, 34px);
    text-transform: uppercase;
}

.por-apenas-kits span {
    font-weight: bold;
}

.valor-kits {
    color: #871108;
    font-family: "Roboto", Sans-serif;
    font-size: clamp(32px, 4vw, 42px);
    line-height: clamp(20px, 4vw, 32px);
    font-weight: bolder;
}

.blinking {
    animation: opacity 1.5s ease-in-out infinite;
    opacity: 1;
}

.contem {
    font-weight: bold;
}

.botao-kit {
    border-radius: 5px;
    /* box-shadow: 0px 10px 19px 1px rgb(0 0 0 / 30%); */
    max-width: 80%;
    color: #ffffff;
    height: 50px;
    margin: 0 auto;
    background-color: #871108;
    border: 2px solid #871108;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bolder;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    /* 50% {
        opacity: 0.5;
      } */
    100% {
        opacity: 0;
    }
}


/* PERGUNTAS FREQUENTES */

.perguntas-frequentes {
    background: url("https://goldclubgroup-images.s3.us-east-1.amazonaws.com/websites/bodygold/img/fundo_rodape_DESKTOP.webp");
    margin-bottom: 0;
    padding-bottom: 0;
}

.card-modificado {
    background-color: transparent;
    border: 2px solid #d60a05;
    border-radius: 15px 15px 15px 15px;
    margin-top: 15px;
}

.card-header-modificado {
    background-color: transparent;
    border-bottom: 0;
}

.card-body-modifcado {
    padding: 1em 1em 3em 1em;
}

.btn {
    font-weight: bold !important;
    padding: 0;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

.btn-header-link {
    text-align: left;
    display: block;
    font-size: 14px;
}

.btn-header-link:after {
    content: "\f103";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    float: right;
}

.btn-header-link.collapsed:after {
    content: "\f102";
}


/* MOBILE */

@media (min-width: 360px) and (max-width: 767px) {
    /* BACKGROUNDS */
    .background {
        background-repeat: no-repeat !important;
        background-size: cover !important;
        padding: 3em 0;
    }
    .banner {
        background: url("https://goldclubgroup-images.s3.us-east-1.amazonaws.com/websites/bodygold/img/mobile/fundo_1secao_MOBILE.webp");
    }
    .beneficios {
        background: url("https://goldclubgroup-images.s3.us-east-1.amazonaws.com/websites/bodygold/img/mobile/fundo_3-10secao_MOBILE.webp");
    }
    .resultados {
        background: url("https://goldclubgroup-images.s3.us-east-1.amazonaws.com/websites/bodygold/img/mobile/fundo_5-7-9-11secao_MOBILE.webp");
    }
    .perguntas-frequentes {
        background: url('https://goldclubgroup-images.s3.us-east-1.amazonaws.com/websites/bodygold/img/mobile/fundo_rodape_MOBILE2.jpg');
    }
    /* FONTES */
    .titulo-ganhador {
        font-size: 14px;
    }
    .titulo-secoes {
        font-size: 24px;
    }
    .titulos-rodape {
        padding-top: 1em;
    }
    .btn-header-link {
        font-size: 12px;
    }
    .card-body {
        font-size: 13px;
    }
    /* POSIÇÕES DOS ELEMENTOS */
    .beneficios .col-md-2 {
        padding-left: 5em;
        padding-right: 5em;
    }
    .kits .col-md-4,
    body>section.kits.background.resultados>div>div.row.pt-1>div {
        padding-left: 2em;
        padding-right: 2em;
    }
    .perguntas-frequentes {
        padding-bottom: 0 !important;
    }
    .perguntas-frequentes .col-md-6,
    .perguntas-frequentes .col-md-5 {
        padding-left: 2em;
        padding-right: 2em;
    }
    .perguntas-frequentes .col-md-5 {
        padding-top: 2em;
    }
    body>section.footer4.background-vermelho.pt-4.pb-4>div>div.row.justify-content-center.pt-4 {
        padding-bottom: 2.3rem!important;
    }
    /* DESATIVA O QUE TÁ NO DESKTOP E TABLET*/
    .desktop,
    .tablet {
        display: none;
    }
    .footer4 .col-md-3 {
        padding-top: 1em;
    }
}


/* TABLET*/

@media (min-width: 768px) and (max-width: 1279px) {
    /* BACKGROUNDS */
    .background {
        background-repeat: no-repeat !important;
        background-size: cover !important;
        padding: 3em 0;
    }
    /* FONTES */
    .fonte-botao {
        font-size: 20px;
    }
    .titulos-rodape {
        font-size: 14px;
    }
    .contato {
        font-size: 13px;
    }
    /* POSIÇÃO DOS ELEMENTOS */
    .beneficios .col-md-2 {
        padding: 0;
    }
    .perguntas-frequentes .col-md-5 {
        align-self: flex-end;
    }
    .perguntas-frequentes {
        padding-bottom: 0!important;
    }
    .perguntas-frequentes .col-md-6 {
        padding-bottom: 2em;
    }
    .titulo-anvisa {
        line-height: 1.5em;
    }
    /* DESATIVA O QUE TÁ NO DESKTOP E MOBILE */
    .mobile,
    .resultados .desktop,
    body>section.kits.background.resultados>div>div:nth-child(2),
    .footer2 .desktop {
        display: none;
    }
}

@media (min-width: 1280px) {
    /* DESATIVA NO DESKTOP */
    .mobile,
    .tablet {
        display: none;
    }
}